@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "tillana", sans-serif;
}
body{
    background-color: #FFF8E3;
}
h2{
    font-weight: 500;
    font-size: 34px;
}
h3{
    font-weight: 300;
    font-size: 26px;
}
.hero_area{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tajine.jpg);
    background-size: cover;
    height: auto;
}
.header-section{
    color: white;
    
}
.activ{
    border-bottom: 2px solid white;
}
#navbar{
    padding-left: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100vw;
}
.burger{
    display: none;
}

.logo a img{ 
    width: 150px;
    height: 100px;
}
#navbar ul{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#navbar li{
    height: 30%;
    list-style: none;
}
#navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-header h1{
    font-size: 50px;
    font-weight: 300;

    display: flex;
    justify-content: center;
}

.text-header a{
    font-size: 32px;
    text-decoration: none;
    background-color: #00709C;
    border-radius: 30px;
    color: white;
    padding: 15px 20px 15px;
    text-align: center;
    margin-bottom: 5%;
}

.horaires{
    background-color: #EAF9FF;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.temps{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 120px;
}

.jour{
    text-align: center;
}
.jour p{
    font-size: 24px;
}

.nos-artistes{
    background-color: #FFF8E3;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.artistes-photos-container{
    width: 85%;
    height: 65%;
    display: flex;
    justify-content: space-between;
}
.artistes-photos{
    width: 32%;
    height: 100%;
    background-color: #EAF9FF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.artistes-photos img{
    margin-top: 5%;
    width: 90%;
    height: 200px;
    border-radius: 10px;
}
.artistes-photos h3{
    font-size: 18px;
    
}

#nos-arts{
    padding-top: 3%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#images-area {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* Create a responsive grid */
    gap: 10px; /* Adjust the gap between grid items as needed */
}

.image {
    overflow: hidden; /* Clip images within the grid cell */
}

.image img {
    border-radius: 10px;
    width: 100%; /* Make images take up the full width of the grid cell */
    height: 100%; /* Make images take up the full height of the grid cell */
    object-fit: cover; /* Adjust how the image is displayed within the cell */
}
#images-area > div:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
}

footer{
    color: white;
    background-image: linear-gradient(rgba(0 ,0 ,0 ,0.8),rgba(0 ,0 ,0 ,0.8)),url(images/footer-image.webp);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.footer-li a{
    height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    justify-content: space-between;
}

.contact a{
    height: 50px;
    display: block;
    color: white;
    text-decoration: none;
}

.footer-container{
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


/*..........ATELIER..........*/
.hero_area-atelier{
    background-image: url(images/atelier-image.jpg);
    background-size: cover;
    background-position: center;
}
#atelier-page2{
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#title-atelier2 h2{
    display: flex;
    justify-content: center;
} 

#title-atelier2 pre{
    font-size: 22px;
} 
.atelier-photos{
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
} 

.times{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.form-disign{
    background-color: #D2F2FF;
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

#registration-form {
    height: 400PX;
    width: 400px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
}
#registration-form ::placeholder{
    padding-left: 3%;
    color: black;
}

 .reserve-button{
    background-color: #D2F2FF;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 5%;
}

#iframe-reserve{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

/*..............galerie..........*/
.hero_area-galerie{
    height: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/galerie-header.jpg);
    background-size: cover;
    background-position: center;
}

.text-header-galerie h1{
    /* padding-top: 1em; */
    font-size: 86px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
#galerie-islamicage{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
#galerie-islamicage > div:first-child{
    width: 600px;
    height: 400px;
    overflow: hidden;
}
#galerie-islamicage h2{
    padding-left: 2em;
}
#galerie-islamicage p{
    padding-top: 5%;
    font-size: 30px;
}
#page2 img{
    width: 500px;
    height: 95vh;
}
.image2{
    width: 500px;
    height: 40vh;
}

.images4{
    width: 245px;
    height: 25vh;
}

#galerie-images{
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#video{
    display: flex;
    justify-content: center;
}
#video iframe{
    margin-top: 5%;
    width: 70%;
    margin-bottom: 5%;
}
.FAQ{
    max-width: 600px;
}

.FAQ .contentFAQ{
    position: relative;
    margin: 10px 20px;

}

.FAQ .contentFAQ .label{
    position: relative;
    padding: 10px;
    background: #D2F2FF;
    color: black;
    cursor: pointer;
}
.FAQ .contentFAQ .label::before{
   content: 'â‹'; 
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
   font-size: 1.5em;
}
.FAQ .contentFAQ .content{
    position: relative;
    background: #D2F2FF;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.FAQ .contentFAQ.active .content{
    height: 150px;
}

#FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image-FAQ{
    display: flex;
    align-items: center;
}
#FAQ-image{
    height: 300px;
}

@media only screen and (max-width:767px) {
    /* .burger{
        display: block;
        cursor: pointer;
        padding: 20px 5%;
    }
    .burger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    ul {
        display: none;
        position: absolute;
        right:0px;
        height: 30vh;
        top: 10vh;
        background-color: #00709C;
        /* display: flex;
        flex-direction: column;
        
        
    }
    .Dnav.active{
        height: 30vh;
        width: 100%;
    }
    #navbar li a{
        color: #000000;
        height: 30vh;
    } */ 
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 16px;
    }
    .jour p{
        font-size: 16px;
    }
    .text-header h1{
        font-size: 18px;
        font-weight: 300;
        display: flex;
        justify-content: center;
    }
    .text-header a{
        font-size: 20px;
        text-decoration: none;
        background-color: #00709C;
        border-radius: 30px;
        color: white;
        padding: 15px 20px 15px;
        text-align: center;
    }
    .horaires{
        background-color: #EAF9FF;
        height: auto;
        height: 300px;
    }
    
    .temps{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height:60%;
        grid-gap: 10px;
        
    }
    .artistes-photos-container {
        gap: 10px;
        display: flex;
        flex-direction: column;   
        align-items: center;
    }
    .artistes-photos{
        width: 90%; 
    }
    .artistes-photos img{
        margin-top: 5%;
        width: 90%;
        height: 200px;
        border-radius: 10px;
    }
    #nos-arts{
        height: auto;
    }
    #images-area{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    #image-FAQ{
        display: flex;
        flex-direction: column-reverse;
    }
    .FAQ-image img{
        width: 200px;
        height: 200px;
    }
    .footer-container{
        width: 80%;
    }
    footer{
        font-size: 12px;
       height: 30vh;
    }
    footer .logo img{
        width: 100px;
        height: 100px;
    }
    .text-header-galerie h1{
        font-size: 40px;
    }
    #galerie-islamicage > div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #galerie-islamicage > div:first-child {
        padding-top: 5%;
        width: 400px;
        height: 250px;
        display: flex;
        justify-content: center;
    }
    #galerie-islamicage > div:first-child img{
        width: 300px;
        height: 200px;
    }
    #galerie-islamicage h2{
        padding-left: 2%;
        font-weight: 300;
    }
    #galerie-islamicage p{
        padding-top: 5%;
        font-size: 16px;
    }
    #galerie-islamicage{
        display: flex;
        flex-direction: column-reverse;
    }
    #page2{
        height: 320px;
    }
    #page2 img{
        width: 300px;
        height: 300px;
    }
    .image2{
        width: 300px;
        height: 300px;
    }
    .images4{
        width: 300px;
        height: 300px;
    }
    /* #galerie-images{
        height: ;
    } */
    #galerie-images >div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .SGimages{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}